<!DOCTYPE html>
<html>
   <head>
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
      <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
      <link href="https://netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

      <link rel="stylesheet" href="/static/src/css/mysite.css">
      <meta charset="utf-8"/>
      <meta http-equiv="X-UA-Compatible" content="IE=Edge">

      <meta name="description" content="Free Web tutorials on Web Security | web安全" />
      <meta name="keywords" content="OWASP TOP 10, XSS, SQL注入" />

      <title>WebSec  - My Notes </title>
      <link rel="icon" href="/static/images/favicon.ico">
   </head>
   <body>
      <div id="content-wrapper">
        {% include 'nav.html' %}
        {% include 'article-detail.html' %}
        <div class="push-footer"></div>
      </div>
      {% include 'foot.html' %}
      <script src="https://cdn.bootcss.com/jquery/2.1.1/jquery.min.js"></script>
      <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
   </body>
</html>
