/* */
@font-face {
  font-family: 'futura-pt';
  src: url('../fonts/Futura-lt-light.ttf') format('truetype');
}

footer .icons-container a i {
    padding: 0 5px;
    display: inline-block;
    font-size: 16px;
    color: rgba(31, 31, 31, 0.67);
    text-align: center;
}

/* //css sticky footer */
html, body{
  height: 100%;
  margin:0;
  padding:0;
}

body {
  font-family: 'futura-pt',helvetica, arial, sans-serif;
  min-height: 100%;
}

#content-wrapper {
  min-height: 100%; height: auto !important;
  height: 100%;
  margin: 0 auto -60px;
}

.push-footer,
 footer {
    height: 60px;
    clear:both;
}

.container .push, footer {
          height: 60px;
          clear:both;
          text-align: center;
 }


/* nav header */
a { color: #1f1f1f;font-family: "futura-pt", "proxima-nova","Helvetica Neue",Helvetica,Arial,sans-serif;}
a:focus, a:hover{text-decoration: none;color:inherit;}

.navbar-default {background-color:#ffffff;border:none;}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    background-color: #fff;
    color: #000;
}

.navbar-default  a {
    font-size: 14px;
    text-decoration: none;
    letter-spacing: 1px;
    font-weight: 400;
    font-style: normal;
    line-height: 1em;
    color: #515252;
}

.navbar-default  .navbar-brand > a {
    font-weight: 600;
    font-size: 20px;
    letter-spacing: 2px;
    letter-spacing: 1.4px;
    font-style: normal;
    color: #000;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    background-color: #fff;
    color: #000;
}


.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: white;
}

/* nav header  mobile */
.navbar-default .navbar-toggle {border:none;}

.navbar-default button:active,
.navbar-default button:focus {
    border-style: none;
    outline:none;
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: transparent;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #515252;
    border: 1px solid transparent;
}

.cross-rotate {
    -webkit-transition-duration: 1s;
    -moz-transition-duration: 1s;
    -o-transition-duration: 1s;
     transition-duration: 1s;
    -webkit-transition-property: -webkit-transform;
    -moz-transition-property: -moz-transform;
    -o-transition-property: -o-transform;
     transition-property: transform;
}

.cross-rotate.active {
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
     transform: rotate(90deg);
}

/*main-page*/
.main-page-container {
  /*padding: 30px 0;*/
  margin-left: 20px;
  margin-right: 60px;
  width: auto;
}

/*Search form*/
.search-form {
  padding-right: 47px;
  position: relative;
  margin-bottom: 10px;
}

.btn-search {
  -webkit-transition: background 0.5s ease;
  -moz-transition: background 0.5s ease;
  -ms-transition: background 0.5s ease;
  -o-transition: background 0.5s ease;
  transition: background 0.5s ease;

  cursor: pointer;
  display: inline-block;
  padding: 8px 8px 8px 12px;
  border-radius: 3px;

  position: absolute;
  right: 0;
  top: 0;
  width: 40px;
  height: 33px;

}

.btn-search:active {
  transform: translateY(1px);
}

/*article*/
article * {
  font-family: "futura-pt", "proxima-nova","Helvetica Neue",Helvetica,Arial,sans-serif;
}

/*article list*/
.div-article-list {
  margin-right: 12px;
  margin-bottom: 30px;
}
.div-article-list i {
  margin-right: 10px;
  font-size: 0.92308em;
  line-height: 1.2;
}

.div-article-list ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.div-article-list li {
  border-bottom: 1px solid #ececec;
  color: #515252;
  padding: 8px 0 7px;
}

.div-article-list a {
  color: #515252;
}
.div-article-list a:hover a:focus{
  color: #1f1f1f;
}

.article-list-head {
  margin:0 0 1px 0;
  font-weight: 700;
  font-size: 1.07692em;
  line-height: 2.71429;
  color: #666666;
  text-transform: uppercase;
  border-bottom: 1px solid #dfdfdf
}

.article-list-classify {
  font-size: 1em;
  line-height: 1.2;
}

.article-list-count {
  font-size: 0.84615em;
  line-height: 1.2;
  text-align: center;
  float: right;
  background-color: #dfdfdf;
  border-radius: 2px;
  min-width: 27px;
  margin-top: 0;
}

.article .article-header h1 {
  text-align:center;
  margin:.6em 0 1em;
  font-size: 1.5em;
}
.article .article-header .header-title  {
  margin: .15em 0.25em;
}
.article .article-header .header-category a,
.article .article-header .header-dateline {
  color: rgba(31,31,31,.5);font-family: "futura-pt";
  font-size: 1em;
  text-align: center;
}
.article  .article-body,
.article  .article-summary{
  font-weight: 400;
  font-size: 14px;

}
.article  .article-body img {
  display:block;
}
.article > .article-footer  {
  margin: 1em 0 2em;
}
.article > .article-footer a {
  color: rgba(31,31,31, .5);
  text-decoration: none;
  font-size: 1.5em;
  line-height: 1.8em;
}
.article > .article-footer a:before {
  content: "Read More";
  font-size: 12px;
  font-weight: 700;
}
.article > .article-footer a:after {
  content: " \279D";
  font: normal .9em sans-serif;
  color:rgba(31, 31, 31, .45);
  font-size: 12px;
}

ol.m-breadcrumb {
  background-color: #ffffff;
  border-bottom: 1px solid #ececec;
}
