<div class="push-footer"><!-- not have any content --></div>
<footer class="footer navbar">
  <div class="icons-container">
    <a href="{{site.github}}"><i class="fa fa-github"></i></a>
    <a href="{{site.weibo}}"><i class="fa fa-weibo"></i></a>
    <a href="{{site.qq}}"><i class="fa fa-qq"></i></a>
    <a href="{{site.wechat}}"><i class="fa fa-weixin"></i></a>
  </div>
  <div>
    <p align="center" style="margin-top: 20px;color:#878B91;">
        Copyright &copy;2017 | Xinfan
    </p>
  </div>
</footer>
