<div class="main-page-container">
  <div class="container">
    <ol class="breadcrumb">
      <li><a href="#">Home</a></li>
      <li><a href="#">Library</a></li>
      <li class="active">Data</li>
    </ol>
    <div class="row">
      <div class="col-md-3">
        <div class="row">
          <div class="col-md-12">
            <div class="search-form">
              <input class="form-control" placeholder="小T是二货" type="text">
              <a href="www.baidu.com"><span class="btn-search fa fa-search fa-lg"></span></a>
            </div>
          </div>
      </div>
      <div class="row">
        <div class="col-md-12">
            <div class="div-article-list">
              <h4 class="article-list-head">文章列表</h4>
              <ul>
                <li>
                  <a class="article-list-classify" href="#"><i class="fa fa-plus"></i>&nbsp;OWASP TOP 10</a>
                  <span class="article-list-count">10</span>
                </li>
                <li>
                  <a class="article-list-classify" href="#"><i class="fa fa-plus"></i>&nbsp;WEB安全问题</a>
                  <span class="article-list-count">12</span>
                </li>
                <li>
                  <a class="article-list-classify" href="#"><i class="fa fa-plus"></i>&nbsp;</a>
                  <span class="article-list-count">12</span>
                </li>
                <li>
                  <a class="article-list-classify" href="#"><i class="fa fa-plus"></i>&nbsp;</a>
                  <span class="article-list-count">12</span>
                </li>
                <li>
                  <a class="article-list-classify" href="#"><i class="fa fa-plus"></i>&nbsp;</a>
                  <span class="article-list-count">12</span>
                </li>
              </ul>
            </div>
        </div>
      </div>
    </div>
    <div class="col-md-9">
      <div class="row">
        <div class="col-xs-12 col-md-offset-2 col-md-8">
          <article class="article">
            <div class="article-header">
              <h1 class="header-title"> 小T是二货 </h1>
              <div class="header-dateline">
                 <time datetime="2017-09-24">2017-11-17</time>
              </div>
            </div>
            <div class="article-body">
                  <p>那还用说啊！那还用说啊！那还用说啊！那还用说啊！那还用说啊！那还用说啊！
                  那还用说啊！那还用说啊！那还用说啊！那还用说啊！那还用说啊！那还用说啊！
                  那还用说啊！那还用说啊！那还用说啊！那还用说啊！那还用说啊！那还用说啊！
                  那还用说啊！那还用说啊！那还用说啊！那还用说啊！那还用说啊！那还用说啊！</p>
            </div>
            <div class="article-footer">
              <a href="#"></a>
            </div>
          </article>
        </div>
      </div>
    </div>
    </div>
  </div>
</div>
