<header role="banner">
    <nav role="navigation" class="navbar navbar-default">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle cross-rotate" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <div class="navbar-brand"><a href="websec.site">XinFan</a></div>
        </div>
        <div class="navbar-collapse collapse navbar-right">
            <ul class="nav navbar-nav main-navigation">
            	<li><a href="#home" title="显示主页">HOME</a></li>
            	<li><a href="#">基础必备</a></li>
            	<li><a href="#">Web安全</a></li>
            	<li><a href="#" title="模糊测试">Fuzz</a></li>
            	<li><a href="#" title="我的博客">BLOGS</a></li>
            	<li><a href="#" title="联系我">ABOUT</a></li>
            </ul>
        </div>
    </nav>
</header>
